# Elasticsearch Configuration
ELASTICSEARCH_HOST=http://localhost:9200

# Authentication
ELASTICRAG_USERNAME=test_user
ELASTICRAG_API_KEY=test_api_key
ELASTICRAG_USER_EMAIL=admin@example.com

# Default Collections and Models
ELASTICRAG_DEFAULT_COLLECTION=test_documents123
ELASTICRAG_DEFAULT_MODEL=bge-small-en-v1.5

# Text Embedding Service
TEXT_EMBEDDING_URL=http://192.168.9.62:8080/embed
TEXT_EMBEDDING_API_KEY=placeholder

# Debug
ELASTICRAG_DEBUG=false

# Force recreate resources (for development)
FORCE_RECREATE=false
